{{template "layout/_head.html" .}}

<body>
  <div class="container">
    <div class="row mt-4">
      <div class="offset-sm-3 col-sm-6">
        <div class="card">
          <div class="card-header text-center">
            用户注册
          </div>
          <div class="card-block">
            <form action="/auth/register" method="post">
              {{ .xsrfdata }}
              <!--user name validation-->
              <div class="md-form">
                <i class="fa fa-user-circle-o prefix"></i>
                <input type="text" name="name" id="form1" class="form-control validate">
                <label for="form1" data-error="wrong" data-success="right">姓名 Full name</label>
              </div>

              <!--Email validation-->
              <div class="md-form">
                <i class="fa fa-envelope prefix"></i>
                <input type="email" id="form2" class="form-control validate">
                <label for="form2" data-error="wrong" data-success="right">邮箱 Email</label>
              </div>

              <!--Password validation-->
              <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input type="password" id="form3" class="form-control validate">
                <label for="form3" data-error="wrong" data-success="right">密码 Password</label>
              </div>

              <!--Password validation-->
              <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input type="password" id="form4" class="form-control validate">
                <label for="form4" data-error="wrong" data-success="right">确认密码 Comfirm Password</label>
              </div>

              <fieldset class="form-group">
                <input type="checkbox" id="checkbox1" checked="checked" class="ml-5">
                <a href="#" target="_blank" class="ml-1">网站注册条款</a>
              </fieldset>
              <!-- /.col -->
              <div class="md-form form-group">
                <a id="submit" class="btn btn-primary btn-lg waves-effect waves-light btn-block">注册</a>
              </div>
            </form>

          </div>
        </div>




      </div>
    </div>
  </div>

  </div>

<!--弹出窗-->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title"></h5>
      </div>
      <div class="modal-body" id="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>





  <!-- Bootstrap tooltips -->
  <script src="//cdn.bootcss.com/tether/1.4.0/js/tether.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script src="//cdn.bootcss.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script src="//cdn.bootcss.com/mdbootstrap/4.3.2/js/mdb.min.js"></script>

  <script>
    $("#submit").click(function () {
      // this.event.preventDefault();
      $.post("/auth/register",$('form').serialize() ,function (data, status) {
          $('#myModal').modal('toggle')
          if(data.status == 'success'){
            //注册成功
            $("#modal-title").text("注册成功") ;
            $("#modal-body").text(data.message);
            location.href = "/";
          }else {
            //注册失败
            $("#modal-title").text("注册错误") ;
            $("#modal-body").text(data.message);
          }
        });
    });
  </script>

</body>