 {{if .Article.VideoTitle}}
<h5 class="text-center mt-1">
    <span class="fa fa-video-camera mr-1 text-danger"></span>
    {{.Article.VideoTitle}}
    <span class="fa fa-video-camera ml-1 text-danger"></span></h5>
{{end}} 

{{if .Article.VideoYoukuId}}
<div class="embed-responsive embed-responsive-16by9">
    <video id="jerk" controls data-idx='0' data-idx='9999'></video>
</div>
<div id="part" class="my-1"></div>
<script>
    var languagePlaylist = [];
    var youkuId = "{{.Article.VideoYoukuId}}";
    var is_only_safari = navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1 && navigator.userAgent.indexOf('Android') == -1;
    var videoPlayer = document.getElementById('jerk');
    var is_mobile = navigator.appVersion.indexOf("Mobile") > -1;

    var defaultBtnColor = "btn-secondary";
    var clickedBtnColor = "btn-unique";
    var colors = ['primary', 'secondary', 'success', 'info', 'warning', 'danger'];
    var youkuUrl = 'https://ups.youku.com/ups/get.json?vid=' + youkuId + '==&ccode=0508&client_ip=192.168.1.1&client_ts=1499760827&utid=g2aAEVoJyn0CAQ4%2Fpk5BVR8P';

    document.getElementById('jerk').onended = function () {
        var index = $(this).data('idx');
        $('#part > button').removeClass(clickedBtnColor);

        if (index < mp4Obj.list.length - 1) {
            $(this).data('idx', index + 1);
            videoPlayer.src = mp4Obj.list[index + 1].cdn_url;
            var selector = "#part > button:nth-child(" + (index + 2) + ")";
            $(selector).addClass(clickedBtnColor);
            videoPlayer.play();

        } else {
            $(this).data('idx', 0);
            videoPlayer.src = mp4Obj.list[0].cdn_url;
            var selector = "#part > button:nth-child(1)";
            $(selector).addClass(clickedBtnColor);
        }
    };
    function getMp4Info(response) {
        var streams = response.data.stream;
        $(streams).each(function (idx, ele) {
            var is_mp4 = ele.m3u8_url.indexOf('mp4') > -1;
            var language_zh = ele.audio_lang == 'guoyu';
            var language_en = ele.audio_lang == 'en';
            var language_tw = ele.audio_lang == 'tai';
            var language_df = ele.audio_lang == 'default';

            if (is_mp4 && language_df) {
                var obj = {};
                obj.m3u8_url = ele.m3u8_url;
                obj.list = [];
                obj.lang = 'default';
                obj.milliseconds_video = ele.milliseconds_video;
                $(ele.segs).each(function (idx, vo) {
                    obj.list.push(vo);
                });
                languagePlaylist.push(obj);
            }

            if (is_mp4 && language_zh) {
                var obj = {};
                obj.m3u8_url = ele.m3u8_url;
                obj.list = [];
                obj.lang = 'guoyu';
                obj.milliseconds_video = ele.milliseconds_video;
                $(ele.segs).each(function (idx, vo) {
                    obj.list.push(vo);
                });
                languagePlaylist.push(obj);
            }
            if (is_mp4 && language_en) {
                var obj = {};
                obj.m3u8_url = ele.m3u8_url;
                obj.list = [];
                obj.lang = 'en';
                obj.milliseconds_video = ele.milliseconds_video;
                $(ele.segs).each(function (idx, vo) {
                    obj.list.push(vo);
                });
                languagePlaylist.push(obj);
            }
            if (is_mp4 && language_tw) {
                var obj = {};
                obj.m3u8_url = ele.m3u8_url;
                obj.list = [];
                obj.lang = 'tai';
                obj.milliseconds_video = ele.milliseconds_video;
                $(ele.segs).each(function (idx, vo) {
                    obj.list.push(vo);
                });
                languagePlaylist.push(obj);
            }
        });
    }

    $.ajax({
        type: 'get',
        url: youkuUrl,
        dataType: 'jsonp',
        success: function (res) {
            getMp4Info(res);
            if (is_only_safari || is_mobile) {
                $('#jerk').attr('src', languagePlaylist[0].m3u8_url);
            } else {
                $('#jerk').attr('src', languagePlaylist[0].list[0].cdn_url).data('idx', 0);
            }

            //添加文件分块按钮
            $(languagePlaylist).each(function (k, mp4Obj) {
                //遍历语言
                var language = '国语';
                if (mp4Obj.lang == 'gouyu') {
                    language = '国语';
                }
                if (mp4Obj.lang == 'tai') {
                    language = '台湾';
                }
                if (mp4Obj.lang == 'yue') {
                    language = '粤语';
                }
                if (mp4Obj.lang == 'en') {
                    language = '英语';
                }
                if (languagePlaylist.length > 1) {
                    var total_min = Math.floor(mp4Obj.milliseconds_video / 60000);
                    $('#part').append('<h3 class="text-center">' + language + ':' + total_min + '分钟' + '</h3>');
                }
                $(mp4Obj.list).each(function (idx, vo) {
                    var colorClass = colors[idx % (colors.length)];
                    //var colorClass = defaultBtnColor;
                    var partBtn = $('<button class="btn btn-' + colorClass + ' btn-sm " data-src=""></button>');
                    var mins = Math.floor(vo.total_milliseconds_video / 60000);
                    var secnd = Math.floor(vo.total_milliseconds_video / 1000) % 60;
                    partBtn.text('第' + (idx + 1) + '段:' + mins + '分' + secnd + '秒').data('src', vo.cdn_url).data('idx', idx);
                    if (idx == 0) {
                        partBtn.addClass(clickedBtnColor);
                    }
                    $('#part').append(partBtn);
                });

            });

            $('#part > button').click(function (event) {
                $('#part > button').removeClass(clickedBtnColor);
                $(event.target).addClass(clickedBtnColor);
                videoPlayer.src = $(event.target).data('src');
                var idx = $(event.target).data('idx');
                $(videoPlayer).data('idx', idx);
                videoPlayer.play();
            });
        },
        error: function () {
            alert('解析优酷失败');
        }
    });

</script>
{{end}} 
{{if .Article.VideoMiaopaiId }}
<div class="embed-responsive embed-responsive-16by9 mb-1">
    <video controls src="//gslb.miaopai.com/stream/{{.Article.VideoMiaopaiId}}.mp4"></video>
</div>
{{end}} {{if .Article.VideoWeiboId }}
<div id='video-div' class="embed-responsive embed-responsive-16by9 mb-1">
    <video controls autoplay src=""></video>
</div>
<script>
    $('#video-div').hide();
    $.post("/video/weibo-parse", { id: '{{.Article.VideoWeiboId}}' }, function (data, status) {
        $('#video-div > video').attr('src', data);
        $('#video-div').fadeIn().show();

    });

</script>
{{end}}