<!--修复 bugs -->
<meta name="full-screen" content="yes">
<meta name="x5-fullscreen" content="true">
<!--正文部分-->
{{range $index, $value := .Articles}}
<div class="well-xs well media">
    <div class="media-left">
        <a href="/article/{{$value.ID}}">
            <img src="{{$value.CoverageUrl}}" alt="{{$value.Title}}" class="img-thumbnail img-circle media-object">
        </a>
    </div>
    <div class="media-body">
        <a href="/article/{{$value.ID}}">
            <h2 class="media-heading text-red text-center lead">{{$value.Title}} </h2>
        </a>

        <p class="text-excerpt">
            {{ $value.Excerpt }}...
        </p>
        <ul class="list-inline text-green">
            <li>
                <strong><span class="fa fa-calendar" title="发布日期"></strong> {{$value.CreatedDate}}
            </li>

            <li>
                <strong><span class="ion-clock" title="发布时间 publiced time" data-time={{dateformat $value.CreatedAt "2006-01-02 15:04:11"}}></strong> {{$value.CreatedTime}}

            </li>
            <li>
                <strong><span class="glyphicon glyphicon-eye-open" title="阅读数量 read count"></strong> {{$value.ReadCount}}
            </li>
            <li>
                <strong><span class="ion-heart" title="收藏数量 favarate count"></strong> {{1000}}
            </li>
            <li>
                <strong><span class="fa fa-commenting" title="评论数量 comment count"></strong> {{1001}}
            </li>
        </ul>
    </div>

</div>
{{end}}



