<link href="//cdn.bootcss.com/raty/2.7.1/jquery.raty.css" rel="stylesheet">
<!--评分-->
<script src="//cdn.bootcss.com/raty/2.7.1/jquery.raty.js"></script>

<div class="card p-3 mb-1">
    <h1 class="text-center text-danger lead">{{.Article.Title}}</h1>
    {{if .IsAdmin }}
    <a href="http://www.trytv.org/article/{{.Article.ID}}/edit" target="_blank">编辑</a> {{end}}
    <ul class="list-inline d-flex flex-row-reverse mt-2">
        <li class="list-inline-item mr-2">
            <span class="fa fa-calendar" title="发布日期"></span>
            <span class="text-grey">{{.Article.CreatedDate}}</span>
        </li>
        <li class="list-inline-item mr-2">
            <span class="ion-clock mr-2" title="发布时间 publiced time" data-time={{ .Article.CreatedAt}}></span>
            <span class="text-grey"> {{.Article.CreatedTime}}</span>
        </li>
        <li class="list-inline-item mr-2">
            <span class="ion-eye mr-2" title="阅读数量 read count"></span>
            <span class="text-grey"> {{.Vote.Visit}}</span>
        </li>

        <li class="list-inline-item mr-2">
            <span class="ion-star mr-2" title="评分 review score"></span>
            <span class="text-grey"> {{.Vote.Score}}</span>
        </li>
        <li class="list-inline-item mr-2">
            <span class="ion-heart mr-2" title="收藏数量 favarate count"></span>
            <span class="text-grey"> {{.Vote.FavorateCount}}</span>
        </li>
    </ul>
    <!--str2html 显示输出html代码-->
    <article id="content">{{str2html .Article.Body}}</article>

    {{if .Article.VideoCode}}
    <div id="video" class='embed-responsive embed-responsive-16by9'>
        {{str2html .Article.VideoCode}}
    </div>
    {{end}}
</div>




<script>
    //aritcle 图片样式修改 w-100
    //这个地方图片加载两次
    var jsonImages = JSON.parse('{{.JsonImages}}');
    $('article img').each(function(idx,ele){
        $(ele).addClass('img-thumbnail w-100').removeProp('style');
        $(jsonImages).each(function(idex,obj){
            if(obj.Fname == $(ele).attr('src')){
                $(ele).attr('src',obj.OriginWithWaterMark)
            }
        });
    });

    $('iframe embed video object').removeProp('style').removeClass().addClass('embed-responsive-item');

    var rateScore = parseFloat('{{.Vote.Score }}');
    var articleId = parseInt('{{.Vote.ID }}');
    var voteCount = parseInt('{{.Vote.VoteCount }}');
    $(function () {
        $('#raty').raty(
            {
                starType: 'i',
                half: true,
                noRatedMsg: 'Not rated yet!',
                hints: ['bad', 'poor', 'regular', 'good', 'gorgeous'],
                targetText: '评分',
                numberMax: 5,
                score: rateScore,
                click: function (score, evt) {
                    $.post("/article/vote", { articleId: articleId, score: score }, function (data, status) {
                        $("#score").text(data.data.Score);
                        $("#vote-count").text(data.data.VoteCount);
                        $('#raty').raty('score', data.data.Score);
                    });
                }
            }
        ).before("<span style='font-size: 15px!important;position: absolute;right: 172px;top: 19px; '><i id='vote-count' class='text-info'>" + voteCount + "</i>次评价:<strong id='score' class='text-primary'>" + rateScore + "</strong>分</span>");

    })

</script>