





/*自定义css全部都写在这里*/
/*之前定义了bootstrap adminlte 相关样式*/

 /* 文章列表信息的 span li 间距 */
 div.media-body > ul > li {
    padding-right: 25px!important;
 }
 /* 文章列表信息的 span icon */
div.media-body > ul > li > strong > span {
    margin-right: 6px!important;
}

/* 文章列表的时间*/
body > div > div.content-wrapper > section.content > div > div.media-body > ul {
    margin-bottom: 0px !important; 
}

/*面包屑背景透明*/
.breadcrumb {
    background-color: transparent!important;
    padding:0.3rem 1.2rem 0.3rem 1.2rem!important;
}


/*  card图片动画效果  */
.series-card-details {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem;
    width: 100%;
    color: #fff;
    opacity: 1;
    align-items: flex-start;
    z-index: 10;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: rgba(0,0,0,.7);
    -webkit-transition: opacity .6s;
    transition: opacity .6s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal
}
/* 鼠标悬停的时候 */

.series-card-details:hover {
    opacity:0
}

.show-cursor {
cursor: pointer; cursor: hand;
}
.tag-name-link{
  position: absolute;
  top:0;
}
.tag-week-day{
  position: absolute;
  top:0;
  right: 0;
}
/* Medium devices (tablets, 768px and up) sm */


.article-card-padding {
    padding:0rem 0.5rem 1rem 0.5rem!important;
}

@media (min-width: 576px) { 
    html {
    font-size: 11px!important;
    }

    .subtitle-container {
        padding-left: 0rem!important;
    }
    .excerpt {
        overflow: hidden;
        text-overflow: ellipsis!important;
        height: 93px!important;
        margin-bottom: 10px!important;
    }

}

/* Medium devices (tablets, 768px and up) md */
@media (min-width: 768px) {
    html {
    font-size: 13px!important;
    }

    .subtitle-container:nth-child(2n+1) {
        padding-left: 0rem!important;
    }
        .subtitle-container:nth-child(2n) {
        padding-left: 1rem!important;
    }
    .excerpt {
        overflow: hidden;
        text-overflow: ellipsis!important;
        height: 98px!important;
        margin-bottom: 10px!important;
    }

}


/* Large devices (desktops, 992px and up) lg */
@media (min-width: 992px) { 
    html {
    font-size: 15px!important;
    }
    .subtitle-container:nth-child(3n+1) {
        padding-left: 0rem!important;
    }
        .subtitle-container:nth-child(3n) {
        padding-left: 1rem!important;
    }
        .subtitle-container:nth-child(3n+2) {
        padding-left: 1rem!important;
    }
}

/* Extra large devices (large desktops, 1200px and up) xl */
@media (min-width: 1200px) { 
    html {
    font-size: 16px!important;
    }
 }

 .input-search-btn {
    background-color: transparent;
    color: white;
    border: aliceblue;
    border-width: 0px;
    cursor: pointer;
 }

 .subtitle-title-zh{
     margin-top: 1rem!important;
     height: 3rem;
     overflow: hidden;
     text-overflow: ellipsis;
 }
 .subtitle-title-en{
     height: 2rem;
     overflow: hidden;
     text-overflow: ellipsis;
     font-size: 0.8rem;
     margin-bottom: 0.5rem!important;
 }

 /*  card图片动画效果  */
.subtitle-item {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0.8rem;
    width: 100%;
    color: #fff;
    opacity: 0;
    z-index: 10;
    background: rgba(0,0,0,.8);
    -webkit-transition: opacity .7s;
    transition: opacity .6s;

}

.subtitle-item:hover {
    opacity:1;
}
a.subtitle {
    font-size: 2rem;
    color: white;
}
.qr-media > canvas {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    max-width: 100%;
    height: auto;
}
.qr-media {
    cursor: pointer;
}

div.card.tag > div.subtitle-item {
    cursor: pointer;
}

.breadcrumb {
    font-size: 12px;
}