
html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}



/*自定义css全部都写在这里*/
/*之前定义了bootstrap adminlte 相关样式*/

 /* 文章列表信息的 span li 间距 */
 div.media-body > ul > li {
    padding-right: 25px!important;
 }
 /* 文章列表信息的 span icon */
div.media-body > ul > li > strong > span {
    margin-right: 6px!important;
}
/*文章的摘要部分*/
p.text-excerpt {
    height: 70px!important;
    text-overflow:ellipsis!important;
    overflow: hidden!important;
}
/* 文章列表的时间*/
body > div > div.content-wrapper > section.content > div > div.media-body > ul {
    margin-bottom: 0px !important; 
}

/*面包屑背景透明*/
.breadcrumb {
    background-color: transparent!important;
    padding:0.3rem 1.2rem 0.3rem 1.2rem!important;
}

.article-column-card-text {
    text-overflow:ellipsis;
    max-height: 6rem;
}

/*  card图片动画效果  */
.series-card-details {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem;
    width: 100%;
    color: #fff;
    opacity: 1;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    z-index: 10;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: rgba(0,0,0,.7);
    -webkit-transition: opacity .7s;
    transition: opacity .7s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal
}
/* 鼠标悬停的时候 */

.series-card-details:hover {
    opacity:0
}
