<!--正文部分-->

<div class="row no-gutters">
    {{range $index, $value := .Subtitles}}
    <div class="col-sm-12 col-md-6 col-lg-4 pb-1 pl-1 subtitle-container">
        <div class="card">
            <div class="text-white text-center">
                <p class="subtitle-title-zh m-1">{{$value.NameZh}}</p>
                <p class="subtitle-title-en mx-1 mb-1">{{$value.NameEn}}</p>
            </div>
            <div class="subtitle-item">
                <div class="row d-flex align-items-center h-100">

                    <ul class="col-9 mb-0">
                        <li>
                            <span class="fa fa-calendar align-middle" title="发布时间 publiced time"></span>
                            <small class="align-middle"> {{dateformat $value.CreatedAt "06-01-02 15:04"}}</small>
                        </li>
                        <li>
                            <span class="fa fa-language align-middle" title="发布时间 publiced time"></span>
                            <small class="align-middle"> {{$value.Lang}}</small>
                        </li>
                        <li>
                            <span class="fa fa-map-o align-middle" title="发布时间 publiced time"></span>
                            <small class="align-middle"> {{$value.Format}}</small>
                        </li>
                    </ul>
                    <div class="col-3 text-center">
                        <a class="subtitle align-middle" href="{{$value.OssUrl}}" download="{{$value.FileName}}">
                            <span class="fa fa-download"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{end}}
</div>


<script>


    $('div.row.no-gutters > div.subtitle-container >div.card >div.text-white.text-center').each(function(idx,item){
        var colorBadges = ['danger-color','orange','primary-color','success-color','info-color','warning-color','default-color'][idx%7];
        $(item).addClass(colorBadges);
    });

</script>