appname=mojotv
httpport=9999
runmode=prod
flashname=trytv
FlashSeperator=ez
ServerName=mojotvAwesomeServer
EnableGzip=true
StaticExtensionsToGzip=.css, .js
EnableXSRF=true
XSRFKEY=not_for_jerk
xsrfexpire = 1200
sessionon=true
sessionprovider=memory
sessionname=session

mysqlport=3306
mysqldb=trytv
#imageCdnHost=https://oeveb4zm9.qnssl.com/
imageCdnHost=http://img.trytv.org/
keyword=mojotv.cn|
description=欧美娱乐资讯
#cdnhost=https://oeveb4zm9.qnssl.com/
[dev]
mysqluser=**
mysqlpass=**
mysqlurls=**
[prod]
mysqluser=**
mysqlpass=**
mysqlurls=**
