<article>


<h2 class="text-center text-success">"No" says one of the nurses. "We're just taking a short cut through the children's ward".</h2>


<h2 class="text-center text-info">This is a joke I've told before in the comment section that is appropriate for this post. A priest, a rabbi, and a lawyer are riding in a small private plane with a group of kids. Suddenly the plane has problems and is about to crash nose first. The pilot informs the three adults that the only way to prevent the plane from crashing is to start tossing out kids. The rabbi says," we can't do that, these are children," the lawyer says, "fuck them", and the priest says " do you think we have enough time "?
</h2>

<h2 class="text-center text-warning">Please explain for those of us who are slow.</h2>

<h2 class="text-center text-danger">This made me smile. Then it made me sad.</h2>

<h2 class="text-center text-default">With some rewording, this joke could totally be wholesome.</h2>


</article>