<!--Footer-->
<footer class="page-footer blue">
    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-xs-6 text-center">
                <h5 class="title">酷站分享</h5>
                <ul>
                    <li class="text-center"><a href="http://www.wukongshipin.com/">悟空视频</a></li>
                    <li class="text-center"><a href="https://bttt.gq">bttt.gq</a></li>
                    <li class="text-center"><a href="http://www.gaoxiaotu.net/">搞笑图</a></li>
                </ul>
            </div>
            <div class="col-sm-2 col-xs-6 text-center">
                <h5 class="title">酷站分享</h5>
                <ul>
                    <li class="text-center">
                        <a target="_blank" href="http://info.trytv.org"><strong>微博秒拍视频下载</strong>info.tryTV.org</a>
                    </li>
                    <li class="text-center"><a href="http://video.trytv.org/">美剧在线看</a></li>
                    <li class="text-center"><a href="//www.trytv.org">美剧分享网站</a></li>
                    <li class="text-center"><a href="//wwww.cnfluffy.com">技术博客网站</a></li>
                    <li class="text-center"><a target="_blank" href="http://www.miitbeian.gov.cn" rel="nofollow">鄂ICP备16006181号-4</a></li>

                </ul>
            </div>
            <div class="col-sm-8 hidden-xs-down d-flex justify-content-around">
                <div class="text-center">
                    <h5 class="title">新浪微博</h5>
                    <div class="qr-media" data-text="http://weibo.com/dejavuzhou"></div>
                </div>
                <div class="text-center">
                    <h5 class="title">今日头条</h5>
                    <div class="qr-media" data-text="//www.toutiao.com/m1562467406640130"></div>
                </div>
                <div class="text-center">
                    <h5 class="title">腾讯视频</h5>
                    <div class="qr-media" data-text="http://v.qq.com/vplus/335d56a2638ff08cf9bb462829b154a5"></div>
                </div>
                <div class="text-center">
                    <h5 class="title">优酷视频</h5>
                    <div class="qr-media" data-text="http://i.youku.com/trytv666"></div>
                </div>
                <div class="text-center">
                    <h5 class="title">淘宝网店</h5>
                    <div class="qr-media" data-text="https://trytv.taobao.com"></div>
                </div>

            </div>


        </div>
    </div>
    <!--/.Footer Links-->
    <script>
        // 生成二维码
        $(function () {
            $('.qr-media').each(function (idx, ele) {
                var txt = $(ele).data('text');
                $(ele).qrcode({ width: 90, height: 90, text: txt });
                $(ele).parent().click(function () {
                    location.href = txt;
                });
            });
        })
    </script>

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a href="http://www.mojotv.org"> mojoTV </a>
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<!--/.Footer-->