<!--Footer-->
<footer class="page-footer blue center-on-small-only">

    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">

            <div class="col">
                <h5 class="title text-center">技术博客</h5>
                <ul>
                    <li class="text-center"><a href="//www.github.com">github</a></li>
                    <li class="text-center"><a href="//www.stackoverflow.com">stackoverflow</a></li>
                </ul>
            </div>
            <div class="col text-center">
                <h5 class="title text-center">酷站分享</h5>
                <ul>
                    <li class="text-center"><a href="//wwww.reddit.com">reddit</a></li>
                    <li class="text-center"><a href="//wwww.youtube.com">youtube</a></li>
                </ul>
            </div>
            <div class="col">
                <h5 class="title text-center">友情链接</h5>
                <ul>
                    <li class="text-center"><a href="//www.trytv.org">美剧分享网站</a></li>
                    <li class="text-center"><a href="//wwww.cnfluffy.com">技术博客网站</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a href="http://www.tryt.com"> trytv.org </a>
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<!--/.Footer-->