<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{.Title}}</title>
    <meta name="keywords" content="TRY美剧|trytv|看美剧学电影|轻松学习英语|{{.Keyword}}">
    <meta name="description" content="{{.Description}}">
    <meta name="_xsrf" content="{{.Xsrf}}" />
    <link href="//cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/mdbootstrap/4.3.2/css/mdb.min.css" rel="stylesheet">
    <link href="/static/css/my.css" rel="stylesheet">

    <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $.ajaxSetup({
            headers: {
                'X-Xsrftoken': $('meta[name=_xsrf]').attr('content'),
                'Referer':'http://c-h5.youku.com/'
            }
        });
        Object.defineProperty(navigator, 'userAgent', {
            get: function () { return 'Mozilla/5.0 (iPhone; CPU iPhone OS 9_1 like Mac OS X) AppleWebKit/601.1.46 (KHTML, like Gecko) Version/9.0 Mobile/13B143 Safari/601.1'; }
        });
    </script>
</head>