<nav class="navbar navbar-toggleable-sm navbar-dark bg-primary">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapseEx12" aria-controls="collapseEx2"
      aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <a class="navbar-brand" href="/"><img src="/static/img/logo56x56.png" width="35" height="35" alt="trytv.org logo"></a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link">美剧资讯</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link">美剧剧评</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">趣闻动图</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">趣味视频</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link ">电子读物</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link ">趣图翻译</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link ">字幕分享</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">留学资讯</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link ">名言锦句</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link ">有声读物</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link ">游戏CG</a>
        </li>
        <li class="nav-item btn-group">
          <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">短片</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <a class="dropdown-item">美文</a>
            <a class="dropdown-item">去玩</a>
            <a class="dropdown-item">创意</a>
          </div>
        </li>
      </ul>
      <form class="form-inline waves-effect waves-light">
        <input class="form-control" type="text" placeholder="Search">
      </form>
    </div>
  </div>
</nav>