<nav class="navbar navbar-toggleable-sm navbar-dark bg-primary">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1"
      aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
    <a class="navbar-brand" href="/"><img src="/static/img/logo56x56.png"  width="35" height="35" alt="trytv.org logo"></a>
    <div class="collapse navbar-collapse" id="navbarNav1">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">最新资讯</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/tag/1">美剧剧评</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tag/2">趣闻动图</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tag/3">趣味视频</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="/tag/4">电子读物</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="/tag/5">趣图翻译</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="/tag/6">字幕分享</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tag/7">留学资讯</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="/tag/8">名言锦句</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="/tag/9">有声读物</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="/tag/10">游戏CG</a>
        </li>
        <li class="nav-item btn-group">
          <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">短片</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <a class="dropdown-item">美文</a>
            <a class="dropdown-item">趣玩</a>
            <a class="dropdown-item">创意</a>
          </div>
        </li>
      </ul>
      <form class="form-inline waves-effect waves-light">
        <input class="form-control" type="text" placeholder="Search">
      </form>



      <ul class="navbar-nav mr-auto pull-right">
        {{if .User }}
        <li class="nav-item btn-group">
          <a class="nav-link dropdown-toggle waves-effect waves-light p-0 m-0" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"><img class="rounded-circle"  src="{{ .User.WeiboAvatar}}" width="35" height="35"></a>
          <div class="dropdown-menu dropdown-warning dropdown-menu-right" aria-labelledby="dropdownMenu1">
            <a class="dropdown-item waves-effect waves-light">{{.User.Email}}</a>
            <a class="dropdown-item waves-effect waves-light" href="/auth/logout">注销</a>
          </div>
        </li>
        {{else}}
        <li class="nav-item ">
          <a data-toggle="modal" data-target="#modal-login" class="nav-link waves-effect waves-light ml-4">
                <i class="fa fa-sign-in"></i>
                <span class="hidden-sm-down">登陆</span>
              </a>
        </li>

        {{end}}
      </ul>
    </div>
  </div>
</nav>

<!-- Modal login -->
<div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body m-4 mt-4 m">

        <div class="md-form  my-3">
          <i class="fa fa-envelope prefix"></i>
          <input type="email" id="input-email" class="form-control validate" name="email">
          <label for="form2" data-error="wrong" data-success="right">邮箱 Email</label>
        </div>
        <div class="md-form  my-3">
          <i class="fa fa-lock prefix"></i>
          <input type="password" id="input-password" class="form-control validate" name="password">
          <label for="form3" data-error="wrong" data-success="right">密码 Password</label>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" id='submit' class="btn btn-primary">登陆</button>
      </div>
    </div>
  </div>
</div>
<script>
  $('#submit').click(function () {
    var formData = { email: $('#input-email').val(), password: $('#input-password').val() };
    $.post('/auth/login', formData, function (data, status) {
      if (data.status == 'success') {
        //登陆成功
        $('#exampleModalLong > div > div').empty().addClass('py-4').html('<h2 class="text-success text-center align-items-center lead">登陆成功</h1>')
        $('#myModal').modal('toggle');
        setTimeout(function () {
          location.reload()

        }, 200)
      } else {
        alert(data.message)
      }
    });
  })

</script>