<!-- Bootstrap tooltips -->
<!--<script src="/static/js/my.js"></script>-->

<script src="//cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>
<script>
    $("img.lazy").lazyload();
</script>
<script src="//cdn.bootcss.com/tether/1.4.0/js/tether.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script src="//cdn.bootcss.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script src="//cdn.bootcss.com/mdbootstrap/4.3.2/js/mdb.min.js"></script>
<script src="//cdn.bootcss.com/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>