<div class="card p-3">
    <div class="jiathis_style_32x32">
        <a class="jiathis_button_tsina"></a>
        <a class="jiathis_button_qzone"></a>
        <a class="jiathis_button_tqq"></a>
        <a class="jiathis_button_weixin"></a>
        <a class="jiathis_button_cqq"></a>
        <a class="jiathis_button_qq"></a>
        <a class="jiathis_button_twitter"></a>
        <a class="jiathis_button_fb"></a>
        <a class="jiathis_button_linkedin"></a>
        <a class="jiathis_button_googleplus"></a>
        <a class="jiathis_button_reddit"></a>
        <a class="jiathis_button_ujian"></a>
        <a href="//www.jiathis.com/share?uid=2088157" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
        <a class="jiathis_counter_style"></a>
    </div>
    <!-- JiaThis Button BEGIN -->
    <script type="text/javascript">
        var jiathis_config = { data_track_clickback: 'true' };
    </script>
    <script type="text/javascript" src="//v3.jiathis.com/code_mini/jia.js?uid=2088157" charset="utf-8"></script>
    <!-- JiaThis Button END -->

    <!--PC和WAP自适应版 评论-->
    <div id="SOHUCS"></div>
    <script type="text/javascript">
        (function () {
            var appid = 'cyt4DdG0t'; 
            var conf = 'prod_b4def428f120a1bd338d076e7a49aa1e'; 
            var width = window.innerWidth || document.documentElement.clientWidth;
            if (width < 960) {
                window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>');
            } else {
                var loadJs = function (d, a) {
                    var c = document.getElementsByTagName("head")[0] || document.head || document.documentElement;
                    var b = document.createElement("script");
                    b.setAttribute("type", "text/javascript");
                    b.setAttribute("charset", "UTF-8");
                    b.setAttribute("src", d);
                    if (typeof a === "function") {
                        if (window.attachEvent) {
                            b.onreadystatechange = function () {
                                var e = b.readyState;
                                if (e === "loaded" || e === "complete") {
                                    b.onreadystatechange = null;
                                    a()
                                }
                            }
                        } else {
                            b.onload = a
                        }
                    }
                    c.appendChild(b)
                };
                loadJs("https://changyan.sohu.com/upload/changyan.js", function () {
                    window.changyan.api.config({ appid: appid, conf: conf })
                });
            }
        })();
    </script>

    <!--PC和WAP自适应版 评论-->
</div>