<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{.Title}}</title>
    <meta name="keywords" content="TRY美剧,trytv,看美剧学电影,轻松学习英语,{{.Keyword}}">
    <meta name="description" content="{{.Description}}}">

    <link href="//cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/mdbootstrap/4.3.2/css/mdb.min.css" rel="stylesheet">
    <link href="/static/css/my.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script>
        var csrf_token = '{{.Xsrf}}';
    </script>
</head>

<body>
    <!-- navbar-->
    {{template "layout/_nav.html" .}}
    <!-- navbar-->
    <!-- 正文 -->
    <div class="container pt-1">
        <div class="row">
            <!--正文-->
            <div class="col-md-9">
                <!--面包屑-->
                {{template "layout/_breadcrumb.html" .}}
                <!--面包屑-->
                <!--正文-->
                {{.LayoutContent}}
                <!--正文-->
                {{template "layout/_share_comment.html" .}}
            </div>
            <!--正文-->

            <!-- 侧边栏-->
            <div class="col-md-3 pl-sm-1 pl-xs-2">
                <div class="card mb-1">
                    {{template "layout/_audiobook.html" .}}
                </div>
                <div class="card">

                    <ul class="list-group">
                        {{range $key, $val := .Quotes}}
                        <li class="list-group-item">{{$val.English}}</li>
                        {{end}}
                    </ul>

                </div>

                {{range $key, $img := .Imgs}}
                    <div class="card p-2 mt-1">
                        <img class="img-thunmbnail" src="{{$img.Src}}">
                    </div>
                {{end}}
            </div>
            <!-- 侧边栏-->



        </div>

    </div>
    {{template "layout/_footer.html" .}}

    <!-- Bootstrap tooltips -->
    <script src="//cdn.bootcss.com/tether/1.4.0/js/tether.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="//cdn.bootcss.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script src="//cdn.bootcss.com/mdbootstrap/4.3.2/js/mdb.min.js"></script>

</body>

</html>