{{template "layout/_head.html" .}}

<body>
    <!-- navbar-->
    {{template "layout/_nav.html" .}}
    <!-- navbar-->
    <!-- 正文 -->
    <div class="container pt-1">
            <!--正文-->
                <!--面包屑-->
                <!--{{template "layout/_breadcrumb.html" .}}-->
                <!--面包屑-->
                <!--正文-->

                {{.LayoutContent}}
                <!--正文-->
                {{template "layout/_share_comment.html" .}}


    </div>
    {{template "layout/_footer.html" .}}



    {{template "layout/_script.html" .}}
</body>

</html>