{{template "layout/_head.html" .}}

<body>
    <!-- navbar-->
    {{template "layout/_nav.html" .}}
    <!-- navbar-->
    <!-- 正文 -->
    <div class="container pt-1">
            <!--正文-->
                <!--面包屑-->
                <!--{{template "layout/_breadcrumb.html" .}}-->
                <!--面包屑-->
                <!--正文-->
                {{.LayoutContent}}
                <!--正文-->
                {{template "layout/_share_comment.html" .}}


    </div>
    {{template "layout/_footer.html" .}}

    <!-- Bootstrap tooltips -->
    <script src="//cdn.bootcss.com/tether/1.4.0/js/tether.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="//cdn.bootcss.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script src="//cdn.bootcss.com/mdbootstrap/4.3.2/js/mdb.min.js"></script>

</body>

</html>