<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="哈哈">
    <meta name="author" content="https://news.trytv.org">
    <link rel="icon" href="../../favicon.ico">
    <title>Go语言测试:{{.Title}}</title>
    <link href="{{cdnSrc "css/all.min.css"}}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {{ block "mycss" . }}{{ end }}

</head>

<body>
    <!--top nav bar-->
    {{template "layout/_nav.html" .}}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron
                and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!--page conetent-->
        {{ block "mycontent" . }}{{ end }}
        <!--buttom footer-->
        {{ template "layout/_footer.html" .}}
    </div>
    <script src="{{cdnSrc "js/all-package.min.js"}}"></script>
    {{ block "myjs" . }}{{ end }}
</body>

</html>